.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

#navbar {
  height: 60px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 20px;
  box-shadow: 0px -1px 0px 0px rgba(240, 240, 240, 1) inset;
  z-index: 1000;

  h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.main-content {
  background-color: #f5f7fa;
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
}

#sidebar {
  background-color: white;
  padding-top: 30px;
  width: 230px;
  overflow-y: auto;
  box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.09);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}

.page-container {
  flex: 1;
  overflow-y: auto;
  margin-left: 12px;
  padding: 20px 12px 20px 0;
  transition: all 0.3s;
  background-color: #f5f7fa;
}


